.list-last-seen-document-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 24px 24px 80px 50px;
  min-height: 100vh;
  justify-content: space-between;

  .p-breadcrumb {
    background: transparent;
    padding: 0;
    border: 0
  }

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
    width: 100%;

    .list-title {
      font-size: 22px;
      font-weight: 600;
      line-height: 30px;
    }

    .view-all {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 14px;
      font-style: italic;
      color: var(--gray-500);
      cursor: pointer;
      margin-right: 16px;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .list-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 24px;

    .doc-card {
      display: flex;
      flex-direction: column;
      width: 220px;
      min-height: 380px;
      border: 1px solid var(--gray-200);
      border-radius: 10px;
      cursor: pointer;

      .rpv-thumbnail__cover-image {
        border-radius: 8px;
        height: 320px;
      }

      &:hover {
        opacity: 0.7;
        transform: translateY(-4px);
      }

      .thumbnail {
        width: 100%;
        height: 270px;
        border-radius: 8px;
      }

      .doc-text-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        padding: 12px 20px;
        gap: 8px;

        .doc-title {
          width: 100%;
          font-size: 18px;
          font-weight: 600;
          line-height: 20px;
          color: var(--blue-600);
        }

        .tags-container {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;

          .p-chip {
            background: var(--blue-100);
            padding: 3px 11px;

            .p-chip-text {
              color: var(--blue-500);
              font-weight: 600;
              padding: 0;
              margin: 0;
              font-size: 12px;
            }
          }
        }
      }

      .like-container {
        width: 100%;
        display: flex;
        padding: 10px 12px;

        .p-chip {
          display: flex;
          padding: 5px;
          width: 100%;
          justify-content: center;
          align-items: center;

          .p-chip-icon {
            color: var(--green-400);
            font-size: 14px;
          }

          .p-chip-text {
            color: var(--green-500);
            padding: 0;
            margin: 0;
            font-size: 14px;
          }
        }
      }
    }
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: var(--primary-400);
    color: white;
    font-weight: bold;
  }
}
